---
import BentoItem from "./BentItem.astro";
---

<section
  class="w-full max-w-[1400px] gap-4 grid grid-cols-10 auto-rows-[35rem] mx-auto p-20 text-white"
>
  <BentoItem
    class="col-span-10 md:col-span-4 overflow-hidden"
    title="LA ALFOMBRA BLANCA"
    subtitle="monton de pedorros"
  >
    <div
      slot="image"
      class="p-5 absolute left-0 top-0 bottom-0 w-full bg-[url('/mountain.png')] bg-cover bg-center bg-no-repeat transition-transform duration-300 hover:scale-110"
    >
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sed quod
      totam voluptas nemo. Doloremque ad consequatur eligendi minus quaerat
      neque assumenda velit dolor minima recusandae ullam voluptatum vitae
      blanditiis maxime esse, deserunt modi veritatis excepturi fugiat earum
      eaque a magnam quisquam? Magnam pariatur, minus non sit consequuntur ab
      nisi?
    </p>
  </BentoItem>
  <BentoItem
    class="col-span-10 md:col-span-6"
    title="LA GALA"
    subtitle="17 de febrero"
  >
    <div
      slot="image"
      class="p-5 absolute left-0 top-0 bottom-0 w-full bg-[url('/pistas.webp')] bg-cover bg-center bg-no-repeat"
    >
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sed quod
      totam voluptas nemo.t modi veritatis excepturi fugiat earum eaque a magnam
      quisquam? Magnam pariatur, minus non sit consequuntur ab nisi?
    </p>
  </BentoItem>
  <BentoItem
    class="col-span-10 md:col-span-6 overflow-hidden"
    title="EL CENIT DE LA POLLA"
  >
    <div
      slot="image"
      class="absolute inset-0 bg-[url('/mountain.png')] bg-cover bg-center transition-transform duration-300 hover:scale-110"
    >
    </div>
    <div
      slot="image"
      class="p-5 absolute left-0 top-0 bottom-0 w-full bg-linear-to-b from-black via-20% via-green-300 to-transparent -z-10"
    >
    </div>
    <p>
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eos atque
      repellendus, recusandae reiciendis natus tenetur eligendi fugiat labore
      harum. Odit in earum ex necessitatibus illo quis commodi cum possimus.
    </p>
  </BentoItem>
  <BentoItem class="col-span-10 md:col-span-4" title="DISFRUTTA DEL REDDIT">
    <div
      slot="image"
      class="p-5 absolute left-0 top-0 bottom-0 w-full bg-[url('/theater.webp')] bg-cover bg-center bg-no-repeat -z-10"
    >
    </div>
    <div
      slot="image"
      class="p-5 absolute left-0 top-0 bottom-0 w-full bg-gradient-to-t from-black via-20% via-blue-300 to-transparent -z-10"
    >
    </div>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A debitis
      doloribus<b> architecto id rem facere</b> voluptatum deserunt ipsum nulla amet
      accusamus iste iure at, animi consequatur!
    </p>
  </BentoItem>
</section>
<style>
  p {
    font-size: 14px;
    color: rgb(200, 200, 186) !important;
    font-family: serif;
    line-height: 1rem;
    width: 60%;
    margin: 0 auto;
    padding: 1rem 0;
  }
</style>
