---

---

<div class="absolute top-110 left-50 text-white z-10 flex flex-col justify-center items-center">
  <div class="flex pb-15 justify-center">
    <img src="/favicon.svg" alt="" class="text-white size-40" />
    <span class="text-9xl">ESLAND</span>
    <img src="/favicon.svg" alt="" class="text-white size-40" />
  </div>
  <h2 class="text-6xl text-center">Premios a la comunidad hablante</h2>
  <a href="" class="btn translate-y-40 font-lobster justify-center w-1/5">Comprar entradas</a>
</div>
