---

---

<section>
  <div class="intro text-white">
    <div class="flex justify-center">
      <img src="/favicon.svg" alt="" class="size-30 pt-10" />
    </div>
    <h1 class="text-7xl w-2/3 text-center mx-auto">
      Bienvenidos/as a los Premios ESLAND
    </h1>
    <div class="w-2/3 mx-auto text-xl text-pretty text-white/50 my-10">
      <p>
        El cine tiene los Oscars,<b> la música tiene los Grammy</b> y el streaming
        tiene los ESLAND. Los premios que celebran la creatividad y el talento
        de los mejores creadores de contenido de la comunidad hispanohablante.
      </p>
      <p>
        España, Latinoamérica y Andorra unidas por creadores, creadoras y sus
        comunidades, para <b>recordar y revivir algunos</b> de los mejores momentos del
        año. Tras dos galas celebradas, una en el <b>Palau de la Música</b>
      </p>
      <p>
        Catalana de Barcelona, y otra en el Auditorio Nacional de la Ciudad de
        México, solo queda esperar a la<b> tercera edición</b> en Andorra.
      </p>
    </div>
  </div>
</section>

<style>
    b{
        font-weight: 700;
        color:rgb(173, 171, 171);
    }
</style>
