<div class="w-full relative">
  <video
    style="clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 50% 100%, 0 75%);;"
    src="/video.mp4"
    class="w-full h-screen object-cover animate-pulse"
    autoplay
    loop
    muted></video>
  <video
    src="/video.mp4"
    class="absolute -bottom-60 blur-3xl -z-40"
    autoplay
    loop
    muted
  >
  </video>
  
</div>
