<div class="w-full relative">
  <video
  controls
    class="aspect-ratio-16/9  border-sky-700 border-8 rounded-4xl"
    src="/video.mp4"
    class="w-full h-screen object-cover animate-pulse"
    autoplay
    loop
    muted></video>

  
</div>
